<html>
  <head>
    <title>Sneakers | Create</title>
  </head>
  <body>
    <form action="POST" action="/articles">
      <label for="name">Name</label>
      <br />
      <input type="text" name="name" id="name" />
      <br />

      <label for="description">Description</label>
      <br />
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
      ></textarea>
      <br />

      <label for="Variant">Variant</label>
      <br />
      <input type="variant" name="variant" id="variant" />
      <br />

      <label for="price">Price</label>
      <br />
      <input type="text" name="price" id="price" />
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
